# Dependencies
node_modules/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS / Editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
logs/
*.log

# Coverage reports
coverage/

# Databases
*.db